body {
	margin: 100px auto;
	text-align: center;
	width: 400px;
}
h1 {
	margin-bottom: 30px;
}
strong, img {
	display: block;
}
img {
	margin: 0 auto;
	border-radius: 10px;
}
#logout {
	margin-top: 10px;
}

.fb-like {
	background-color:lightblue;
	margin-top:100px;	
	margin-bottom:100px;
}

.fb-share-button {
	background-color:lightgreen;
	margin-top:100px;	
	margin-bottom:100px;
}